@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    h1,h2 {
        @apply font-display;
        @apply mb-4;
    }

    @media screen(lg) {
        h1,h2 {
            @apply mb-10;
        }
    }

    
h1 {
    color:white;
  
  
}

h1 {
    @apply text-6xl;
    line-height:1.5em;
}

@media screen(lg) {
    h1, {
        @apply text-8xl;
        line-height:1.5em;
        @apply mb-10;
    }
}

body {
@apply bg-white;
@apply font-display;
}

p {
    @apply text-2xl;
    @apply mb-3;
}
}

main :where(h1, h2, h3, h4) {
    scroll-margin-top: 30px;
}



aside.toc nav {
    @apply m-0;
    @apply p-0;
}

aside.toc > nav > h2 {
   @apply hidden;
}

aside.toc > nav > ul > li {
    @apply text-black;
    @apply pr-10;
    @apply p-0;
    @apply py-2;
    @apply pr-14;
    @apply m-0;
    @apply text-sm;
}

aside.toc > nav > ul > li.active {
    @apply bg-activemenu;
    @apply bg-transparent;
    @apply bg-contain;
    @apply bg-no-repeat;
    @apply bg-right;
}

aside.toc.mobile {
    @apply top-0;
    @apply right-0;
    @apply bottom-0;
    height:1000px;
}

aside.toc.mobile nav {
    @apply w-screen;
    @apply pt-10;
    height:1000px;
}


aside.toc.mobile button {
    @apply top-10;
    @apply right-5;
    @apply h-10;
    @apply bg-transparent;
}